* {
    margin: 0;
    box-sizing: border-box;
}


body {
    text-align: center;
    background: url(background-image\ \(1\).png) no-repeat center/cover;
    height: 100vh;
    padding-top: 160px;
    place-content: center;
}

h1 span {
    color: #DB2777;
}

h1 {
    font-weight: 400;
    font-size: 64px;
    color: #151718;
    line-height: 120px;
}

p {
    font-weight: 500;
    font-size: 20px;
    color: #151718;
    line-height: 10px;
    margin-bottom: 72px;
}

a {
    color: #151718;
    padding: 16px 32px;
    font-weight: 600;
    font-size: 24px;
    line-height: 72px;
    text-decoration: none;
}

.btn-primary {
    background: #DB2777;
    border-radius: 32px;
    color: #FFFFFF;
    text-decoration: none;
}
